body {
  background-color: #222;
  color: white;
  margin: 0;
}

div#menu {
  display: block;
  float: left;
  width: 250px;
  height: 100%;
  position: fixed;
  overflow-y:auto;
  overflow-x:hidden;
  margin: 0;
  padding: 5px;
  background: black;
  border-right: solid white 1px;
}

div#main {
  display: block;
  margin-left: 265px;
}